*{
  box-sizing:border-box;
}

body{
  margin:0;
  background:#F2F5F6;
  font-family:'Noto Sans JP', sans-serif;
  color:#091135;
}

/* スマホアプリ風 */
.screen{
  width:100%;
  min-height:100vh;
  background:#FFFCDD;
  padding:24px;
  position:relative;
}

h1{
  text-align:center;
  font-family:'Poppins', sans-serif;
  font-weight:600;
  font-size:20px;
  margin:30px 0 40px;
}

label{
  font-size:13px;
}

input{
  width:100%;
  padding:14px;
  margin:8px 0 20px;
  border-radius:12px;
  border:1px solid #ccc;
  font-size:16px; /* iPhone拡大防止 */
  background:#fff;
}

button{
  width:100%;
  padding:16px;
  border:none;
  border-radius:16px;
  margin-top:14px;
  font-weight:600;
  font-size:16px;
  cursor:pointer;
  font-family:'Noto Sans JP', sans-serif;
}

.btn-main{
  background:#FF8471;
  color:#fff;
}

.btn-green{
  background:#8AB73E;
  color:#fff;
}

.btn-back{
  position:absolute;
  right:20px;
  top:20px;
  background:#FFFFFF;
  color:#091135;
  border:1px solid #ccc;
  width:auto;
  padding:8px 18px;
  border-radius:30px;
  font-size:14px;
}

.list-item{
  background:#FFFFFF;
  padding:16px;
  border-radius:18px;
  margin-bottom:14px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:16px;
}

.plus{
  position:fixed;
  right:20px;
  bottom:25px;
  width:55px;
  height:55px;
  border-radius:16px;
  background:#FFFFFF;
  font-size:28px;
  border:1px solid #ccc;
}

/* タップ感 */
button:active{
  transform:scale(0.97);
}