<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Noto+Sans+JP:wght@400;600&display=swap" rel="stylesheet">

<title>新規ご飯登録</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<form method="POST">
<div class="screen">

<button type="button"
        class="btn-back"
        onclick="location.href='{{ url_for('food') }}'">
    戻る
</button>

<h1>新規ご飯登録</h1>

<label>名前</label>
<input type="text" name="name" required>

<label>内容量</label>
<input type="number" step="0.1" name="content_amount" required>

<label>単位</label>
<input type="text" name="unit">

<label>購入リンク</label>
<input type="text" name="purchase_link">

<button type="submit" class="btn-main">登録する</button>

</div>
</form>

</body>
</html>