<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<title>新規ご飯登録</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="screen">

<button class="btn-back">戻る</button>

<h1>新規ご飯登録</h1>

<label>名前</label>
<input type="text">

<label>内容量</label>
<input type="text">

<label>単位</label>
<input type="text">

<label>購入リンク</label>
<input type="text">

<button class="btn-main">登録する</button>

</div>

</body>
</html>