<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Noto+Sans+JP:wght@400;600&display=swap" rel="stylesheet">

<title>ご飯一覧</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="screen">

<button type="button"
        class="btn-back"
        onclick="location.href='{{ url_for('main') }}'">
    戻る
</button>

<h1>ご飯一覧</h1>

{% for food in foods %}
<div class="list-item">
    <span class="food-name">{{ food.name }}</span>

    <button class="edit-btn"
        onclick="location.href='{{ url_for('food_edit', food_id=food.food_id) }}'">
        ✏
    </button>
</div>
{% endfor %}

<button type="button"
        class="plus"
        onclick="location.href='{{ url_for('food_new') }}'">
    ＋
</button>

</div>

</body>
</html>