<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<!-- 追加ここから -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Noto+Sans+JP:wght@400;600&display=swap" rel="stylesheet">
<!-- 追加ここまで -->

<title>ご飯一覧</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="screen">

<button class="btn-back">戻る</button>

<h1>ご飯一覧</h1>

{% for food in foods %}
<div class="list-item">
    {{ food.name }} ✏ 
</div>
{% endfor %}

<button class="plus">＋</button>

</div>

</body>
</html>