<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<title>nyans</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<form method="POST" action="/login">
    <div class="screen">
    <h1>エサを管理するnyans</h1>

    <label>メールアドレス</label>
    <input type="text" name="email">

    <label>パスワード</label>
    <input type="password" name="password">

    <button type="submit" class="btn-main">ログインする</button>
    </form>
    <br>

    <a href="/register">
    <button class="btn-main" type="button">新規登録</button>
    </a>
    </div>
</form>

</body>
</html>