<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<!-- 追加ここから -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Noto+Sans+JP:wght@400;600&display=swap" rel="stylesheet">
<!-- 追加ここまで -->

<title>nyans</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<form method="POST" action="/login">
    <div class="screen">
    <h1>エサを管理するnyans</h1>

    <label>メールアドレス</label>
    <input type="text" name="email">

    <label>パスワード</label>
    <input type="password" name="password">

    <button type="submit" class="btn-main">ログインする</button>
    </form>
    <br>

    <a href="/register">
    <button class="btn-main" type="button">新規登録</button>
    </a>
    </div>
</form>

</body>
</html>