<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<!-- 追加ここから -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Noto+Sans+JP:wght@400;600&display=swap" rel="stylesheet">
<!-- 追加ここまで -->

<title>メイン</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="screen">
<h1>メインメニュー</h1>

<button class="btn-main">愛猫情報</button>
<button class="btn-main">猫のご飯</button>

<br><br>
<p style="text-align:center;font-weight:600;">
次回注文まであと〇日
</p>

</div>

</body>
</html>