<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<!-- 追加ここから -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Noto+Sans+JP:wght@400;600&display=swap" rel="stylesheet">
<!-- 追加ここまで -->

<title>愛猫登録</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<script>
function updateUnit() {
    const select = document.getElementById("foodSelect");
    if (!select) return;

    const selected = select.options[select.selectedIndex];
    const unit = selected.getAttribute("data-unit");
    document.getElementById("unitDisplay").textContent = unit || "";
}

document.addEventListener("DOMContentLoaded", function() {
    updateUnit();
    document.getElementById("foodSelect")
            .addEventListener("change", updateUnit);
});
</script>

<body>


<form method="POST" action="/pet_new">
    <div class="screen">

   <button type="button"
        class="btn-back"
        onclick="location.href='{{ url_for('pets') }}'">
    戻る
</button>

    <h1>愛猫登録</h1>

    <label>名前 必須</label>
    <input type="text" name="name" required>

    <label>生年月日</label>
    <input type="date" name="birth_date">

    <label>食べるご飯 必須</label>
    <select name="food_id" id="foodSelect">
    {% for food in foods %}
    <option value="{{ food.food_id }}"
            data-unit="{{ food.unit }}"
            {% if setting and food.food_id == setting.food_id %}selected{% endif %}>
        {{ food.name }}
    </option>
    {% endfor %}
    </select>

    <label>1日に食べる量 必須</label>
    <div style="display:flex; align-items:center; gap:8px;">
        <input type="number"
            step="0.1"
            name="daily_amount"
            value="{{ setting.daily_amount if setting }}">
        <span id="unitDisplay"></span>
    </div>

    <label>ご飯の単位</label>
    <input type="text" id="unitDisplay" readonly>

    <br><br>
    <button type="submit" class="btn-main">登録する</button>

    </div>
</form>

</body>
</html>