<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<!-- 追加ここから -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Noto+Sans+JP:wght@400;600&display=swap" rel="stylesheet">
<!-- 追加ここまで -->

<title>登録</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="screen">
<h1>アカウント登録</h1>

<form method="POST">

<label>メールアドレス 必須</label>
<input type="text" name="email" required>

<label>パスワード 必須</label>
<input type="password" name="password" required>

<button class="btn-main">登録する</button>
</form>

</div>

</body>
</html>